[Unit]
Description=Flask FullStackForm Application
After=network.target postgresql.service redis-server.service

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/FullStackForm/application/app

# uporabljamo python iz virtualnega okolja
Environment="PATH=/home/vagrant/FullStackForm/application/app/venv/bin"
ExecStart=/home/vagrant/FullStackForm/application/app/venv/bin/python3 main.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
